*{
  margin: 0;
  padding: 0;
}

header{
  width: 100%;
  overflow: hidden;
  height: 150px;
  position:relative;

  position: fixed;
  top: 0;
  left: 0;
  background: ;
}
nav{

}
header > nav{
  top:-20px;
  position: absolute;
  left:0;
  right:0;
  margin:20px auto;
  max-width:1000px;
  width:90%;

}
header > nav ul{
  list-style: none;
}
.icon{

}
header > nav > ul{
  display: table;
  width: 100%;
  background: #000;
  position: relative;

}
header> nav > ul li{
  display: table-cell;

}

/*sub-menu*/
header >nav > ul > li:hover > ul {
	display:block;
	height:100%;
}

header >nav > ul > li > ul {
	display:block;
	position:absolute;
	background:#000;
	left:0;
	right:0;
	overflow:hidden;
	height:0%;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
header >nav > ul li a {
	color:#fff;
	display:block;
	line-height:20px;
	padding:20px;
	position: relative;
	text-align:center;
	text-decoration:none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

header> nav > ul > li > ul > li a:hover {
	background:#5da5a2;
}



header> nav > ul > li > a span {
	background:#174459;
	display:block;
	height:100%;
	width:100%;
	left:0;
	position:absolute;
	top:-55px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

header >nav > ul > li > a span .icon {
	display:block;
	line-height:60px;
}

header >nav > ul > li > a:hover > span {
	top:0;
}

header >nav > ul > li > a:hover > span{
  top: 0;
}

header >nav ul li a .uno{
  background: #0e5061;
}

header >nav ul li a .dos{
  background: #5da5a2;
}

header >nav ul li a .tres{
  background: #f25724;
}

header >nav ul li a .cuatro{
  background: #174459;
}

header> nav ul li a .cinco{
  background: #37a4d9;
}
header> nav ul li a .seis{
  background: tamoto;
}



section {
    width: 100%;
    display: block;
    clear: both;
   margin-top: 100px;
}
section > nav{
  left:0;
  right:0;
margin:20px auto;
width:85%;
max-width: 970px;
background: #3566ff;
display: block;
padding: 15px;

}
section > nav  > h1{
  display: block;
  color: #fff;
  text-align: center;
  margin: 15px;
  padding: 20px;
  border: 3px solid #adf;
  background: #45aaff;
}

